<form class="{{ attributes.id }}" data-drupal-selector="{{ attributes.id }}" action="{{ attributes.action }}" 
method="post" id="{{ attributes.id }}" accept-charset="UTF-8">

{{ element.form_build_id }}
{{ element.form_token }}
{{ element.form_id }}
{{ element.title }}

<div class="col-sm-3">{{ element.field_conference_annuelle }}</div>

<div class="return_line">&nbsp;</div>

<div class="col-sm-3">{{ element.field_nom }}</div><div class="col-sm-3">{{ element.field_prenom }}</div>
<div class="return_line">&nbsp;</div>
<div class="col-sm-3">{{ element.field_societe }}</div>
<div class="return_line">&nbsp;</div>
<div class="col-sm-3">{{ element.field_email }}</div><div class="col-sm-3">{{ element.field_telephone }}</div>
{{ element.actions }}

</form>