<div class="col-sm-3">{{ field_type_event }}</div><div class="col-sm-6">{{ title }}</div>
<div class="col-sm-12">{{ field_description_courte }}</div>

<div class="return_line">&nbsp;</div>

<div class="col-sm-3">{{ field_start_date }}</div><div class="col-sm-3">{{ field_end_date }}</div>
<div class="return_line">&nbsp;</div>
<div class="col-sm-3">{{ field_date_ouverture_inscription }}</div><div class="col-sm-3">{{ field_date_limite_inscription }}</div>
<div class="return_line">&nbsp;</div>

{{ field_start_date }}
BBB