<div class="col-sm-3"><b>Type : </b><br>{{ field_type_event }}</div>
<div class="col-sm-3"><b>Conférence : </b><br>{{ title }}</div>
<div class="col-sm-6"><b>Résumé :</b><br>{{ field_description_courte }}</div>

<div class="return_line">&nbsp;</div>

<div class="col-sm-3"><b>Date de début : </b><br>{{ field_start_date | date('d/m/Y') }}</b></div>
<div class="col-sm-3"><b>Date de fin : </b><br>{{ field_end_date | date('d/m/Y') }}</b></div>
<div class="return_line">&nbsp;</div>


{% if id_type_event == 5 %}

<div class="col-sm-3"><b>Date d'ouverture des inscriptions : </b><br>{{ field_date_ouverture_inscription | date('d/m/Y') }}</div>
<div class="col-sm-3"><b>Date limite d'inscription : </b><br>{{ field_date_limite_inscription | date('d/m/Y') }}</div>
<div class="return_line">&nbsp;</div>
<div class="col-sm-12">
	{{ speakers }}
</div>

<div class="col-sm-12">
	{{ sponsors }}
</div>
{% endif %}