<aside class="col-sm-4 ">
<aside class="col-sm-11 asidehome">
<center><a href="/a-propos-cmm">
<img src="/themes/cmm/images/cmm_inscription.png"  height="60px"/>
<h3>{{ block1Title}}</h3>
</a><div class="description_accueil col-sm-11">{{ block1|raw}}</div>
</a></center>
</aside>
</aside>

<aside class="col-sm-4"><a href="/node/1">
<aside class="col-sm-11 asidehome">
<center><a href="/membre-authentification">
<img src="/themes/cmm/images/cmm_casiers.png"  height="60px"/>
 <h3>{{ block2Title}}</h3>
<div class="description_accueil">{{ block2|raw}}</div>
</a></center>
</aside>
</aside>

<aside class="col-sm-4 ">
<aside class="col-sm-11 asidehome">
<center><a href="/conference-annuelle">
<img src="/themes/cmm/images/cmm_activites.png"  height="60px"/>
 <h3>{{ block3Title }}</h3>
<div class="description_accueil">{{ block3|raw}}</div>
</a></center>
</aside>
</aside>